extends layout

block content
	h1(style="color:blue") #{albumname}
	ul
		each file in files
			li
				a(href="/imageServer?albumId=#{_id}&fileId=#{file.id}") #{file.originalName}
					img(src="/imageServer?albumId=#{_id}&fileId=#{file.id}" href="/imageServer?albumId=#{_id}&fileId=#{file.id}" style="width:80px; height:80px")